@import "tailwindcss";

@theme {
  --color-primary: #4f46e5;
  --color-accent: #22c55e;
  --color-background: #f9fafb;
  --color-textmain: #111827;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #f9fafb;
}
